In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pymongo 
from pymongo import MongoClient

In [2]:
#load the file
df=pd.read_csv('correct_twitter_202102.tsv', sep='\t')

C:\Users\shock\AppData\Local\Temp\ipykernel_20632\2984132233.py:2: DtypeWarning: Columns (0,4,5,7,8,9,10,11,12,13,16,19,20,23,24,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('correct_twitter_202102.tsv', sep='\t')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845730 entries, 0 to 845729
Data columns (total 46 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   id                             845730 non-null  object
 1   event                          845730 non-null  object
 2   ts1                            845730 non-null  object
 3    ts2                           845730 non-null  object
 4   from_stream                    845730 non-null  object
 5   directly_from_stream           845730 non-null  object
 6   from_search                    845730 non-null  bool
 7   directly_from_search           845730 non-null  object
 8   from_quote_search              845730 non-null  object
 9   directly_from_quote_search     845730 non-null  object
 10  from_convo_search              845730 non-null  object
 11  directly_from_convo_search     845730 non-null  object
 12  from_timeline_search           845730 non-null  object
 13  directly_from_timeline_search  845730 non-null  object
 14  text                           845730 non-null  object
 15  lang                           842729 non-null  object
 16  author_id                      842729 non-null  object
 17  author_handle                  842722 non-null  object
 18  created_at                     842722 non-null  object
 19  conversation_id                842722 non-null  object
 20  possibly_sensitive             842722 non-null  object
 21  reply_settings                 842722 non-null  object
 22  source                         842722 non-null  object
 23  author_follower_count          842722 non-null  object
 24  retweet_count                  842722 non-null  object
 25  reply_count                    842722 non-null  object
 26  like_count                     842722 non-null  object
 27  quote_count                    842722 non-null  object
 28  replied_to                     842722 non-null  object
 29  replied_to_author_id           842722 non-null  object
 30  replied_to_handle              842722 non-null  object
 31  replied_to_follower_count      842722 non-null  object
 32  quoted                         842718 non-null  object
 33  quoted_author_id               842718 non-null  object
 34  quoted_handle                  842718 non-null  object
 35  quoted_follower_count          842718 non-null  object
 36  retweeted                      842718 non-null  object
 37  retweeted_author_id            842718 non-null  object
 38  retweeted_handle               842718 non-null  object
 39  retweeted_follower_count       842718 non-null  object
 40  mentioned_author_ids           842718 non-null  object
 41  mentioned_handles              842718 non-null  object
 42  hashtags                       842718 non-null  object
 43  urls                           842718 non-null  object
 44  media_keys                     842718 non-null  object
 45  place_id                       842718 non-null  object
dtypes: bool(1), object(45)
memory usage: 291.2+ MB

In [4]:
df.head()

,id,event,ts1,ts2,from_stream,directly_from_stream,from_search,directly_from_search,from_quote_search,directly_from_quote_search,...,retweeted,retweeted_author_id,retweeted_handle,retweeted_follower_count,mentioned_author_ids,mentioned_handles,hashtags,urls,media_keys,place_id
0,1358322479136178177,britney_202102,2022-03-01 09:06:52.403595-05:00,2022-03-01 09:06:52.403595-05:00,True,True,False,False,False,False,...,1358248863887458304,93259372,briebxrries,1002,None,None,None,None,None,None
1,1358323016736796677,britney_202102,2022-01-05 08:34:04.477789-05:00,2022-03-01 09:06:52.398778-05:00,True,True,False,False,False,False,...,1358189171500843011,17525171,Variety,2669599,None,None,['FreeBritney'],None,None,None
2,1358322996696465409,britney_202102,2022-03-01 09:06:52.399008-05:00,2022-03-01 09:06:52.399008-05:00,True,True,False,False,False,False,...,1358200732609097734,403576578,Johnnerkell,2650,None,None,None,None,None,None
3,1358322976769286151,britney_202102,2022-03-01 09:06:52.399205-05:00,2022-03-01 09:06:52.399205-05:00,True,True,False,False,False,False,...,1358237823648825348,4429003533,PopCrave,880695,None,None,['FramingBritney'],None,None,None
4,1368923802260889606,britney_202102,2022-03-01 07:26:05.505986-05:00,2022-03-01 07:26:05.505986-05:00,True,True,False,False,False,False,...,None,None,None,None,None,None,None,None,None,None

In [5]:
#check missing values
df.isnull().sum()

id                                  0
event                               0
ts1                                 0
 ts2                                0
from_stream                         0
directly_from_stream                0
from_search                         0
directly_from_search                0
from_quote_search                   0
directly_from_quote_search          0
from_convo_search                   0
directly_from_convo_search          0
from_timeline_search                0
directly_from_timeline_search       0
text                                0
lang                             3001
author_id                        3001
author_handle                    3008
created_at                       3008
conversation_id                  3008
possibly_sensitive               3008
reply_settings                   3008
source                           3008
author_follower_count            3008
retweet_count                    3008
reply_count                      3008
like_count                       3008
quote_count                      3008
replied_to                       3008
replied_to_author_id             3008
replied_to_handle                3008
replied_to_follower_count        3008
quoted                           3012
quoted_author_id                 3012
quoted_handle                    3012
quoted_follower_count            3012
retweeted                        3012
retweeted_author_id              3012
retweeted_handle                 3012
retweeted_follower_count         3012
mentioned_author_ids             3012
mentioned_handles                3012
hashtags                         3012
urls                             3012
media_keys                       3012
place_id                         3012
dtype: int64

In [6]:
#create a dataframe with essential columns to our needs
columns_to_keep = ['text', 'created_at', 'author_id', 'author_handle', 'like_count', 'place_id']
df_keep = df[columns_to_keep]

In [7]:
df_keep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845730 entries, 0 to 845729
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   text           845730 non-null  object
 1   created_at     842722 non-null  object
 2   author_id      842729 non-null  object
 3   author_handle  842722 non-null  object
 4   like_count     842722 non-null  object
 5   place_id       842718 non-null  object
dtypes: object(6)
memory usage: 38.7+ MB

In [8]:
df_keep.isnull().sum()

text                0
created_at       3008
author_id        3001
author_handle    3008
like_count       3008
place_id         3012
dtype: int64

In [9]:
#dropping null values
df_cleaned=df_keep.dropna()

In [10]:
df_cleaned.isnull().sum()

text             0
created_at       0
author_id        0
author_handle    0
like_count       0
place_id         0
dtype: int64

In [11]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842718 entries, 0 to 845729
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   text           842718 non-null  object
 1   created_at     842718 non-null  object
 2   author_id      842718 non-null  object
 3   author_handle  842718 non-null  object
 4   like_count     842718 non-null  object
 5   place_id       842718 non-null  object
dtypes: object(6)
memory usage: 45.0+ MB

In [12]:
#change the dtype of 'created_at', 'author_id' and 'like count'
df_cleaned = df_cleaned.copy()  # Create a copy to avoid the SettingWithCopyWarning
df_cleaned['created_at'] = pd.to_datetime(df_cleaned['created_at'], utc=True)

In [13]:
df_cleaned['author_id']=df_cleaned['author_id'].astype('int64')
df_cleaned['like_count']=df_cleaned['like_count'].astype('int64')

In [14]:
#MongoDB Client
mongo_uri = "mongodb+srv://ermayankkush2482:Mayank24@tweetdata.g4u39.mongodb.net/?retryWrites=true&w=majority&appName=Tweetdata"
client = MongoClient(mongo_uri)

In [15]:
#create the collection for data to be stored
db = client['Tweets']
collection = db['tweets_cleaned_large']

# Convert the cleaned DataFrame into a list of dictionaries
tweets_data = df_cleaned.to_dict(orient='records')

# Insert the data into the MongoDB collection
collection.insert_many(tweets_data)

print("Data inserted successfully!")

Data inserted successfully!